#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
  width: 100%;
}

.top-section{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
}

.top-section button {
  font-size: 15px;
  margin: 10px;
}
.loginMessage{
margin :20px;
}

.middle-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bottom-section {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.bottom-section h1,
.bottom-section h2 {
  display: block;
}
.plants {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 2px;
  grid-template-columns: repeat(5,1fr);
}
.plants li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width : 90%;
  height: 130px;
  background : white;
  border: 1px solid white;
  border-radius: 20px;
  color:black
}



