:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Plant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto; /* Center the Plant component horizontally */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Plant > div:first-child {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}

.plantImages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.plantImages li {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 200px; /* Set a specific width for the items */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plantImages li.healthy {
  background-color: #14452F;
}

.plantImages li.unhealthy {
  background-color: #8d021f;
}

.plantImages .image-container {
  margin-top: 4px;
  background: white;
  padding: 10px; /* Equal padding all around */
  border-radius: 10px;
}

.plantImages img {
  width: 100%; /* Set width to 100% of the parent li */
  height: auto; /* Maintain the aspect ratio */
  max-height: 400px; /* Increase or decrease based on your preference */
  display: block; /* Remove extra space under the image */
  margin-bottom: 0.5rem; /* Add some space between the image and the date text */
}

.plantImages text {
  color: #fffff0;
  margin: 2px;
  font-size: 15px;
}
