.home{
    display: flex;
    .homeContainer{
        flex: 6;

        .widgets{
            display: flex;
            padding: 20px;
            gap:20px;
        }
        .plantsSection{
            display: flex;
            min-height: 70vh;
        }
        .header{
            display: flex;
            font-size: 30px;
            font-weight: bold;
            padding: 10px 50px;

        }
    }
    .title {
        color: white;
        padding: 0;
        margin: 0;
    }
}